body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(270deg, #3998f7, #39D7F7);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.menu {
    text-align: center;
}

.btn-container {
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

.btn {
    background: #0D3797;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease;
    outline: none;
}

.btn:hover {
    background: #2e62ff;
    transform: scale(1.05);
}

.btn:active {
    background: #2e62ff;
    transform: scale(1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#titleCanvas {
    display: block;
    margin: 20px auto;
    width: 800px; /* Correspondente ao atributo width do canvas no HTML */
    height: 200px; /* Correspondente ao atributo height do canvas no HTML */
}
